.main-container {
  text-align: center;
  position: center;
  width: 80%;
}

.header {
  background-color: #282c34;
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #282c34;
  height: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 1.5vmin);
  color: white;
}

a{
  cursor: url('./images/smallStopa.png'), auto;
}

.App-link {
  color: #09d3ac;
}

.topDistanced {
  margin-top: 10px;
}

.leftDistanced {
  margin-left: 5px;
}

.rightDistanced {
  margin-right: 5px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  width: inherit;
}

.navbar-wrapper .navbar {
  width: 100% !important;
}

.navbar-inverse {
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0;
}

.navbar-inverse .nav > li > a {
  color: #FFFFFF;
}

.navbar-inverse .nav > li > a:hover {
  background: none;
}

.navbar-brand a {
  color: #FFFFFF;
}

.main-header-background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('http://www.riwakawebsitedesigns.com/external/images/stars/img-stars-2.jpg');
  height: 620px;
  width: 100%;
  margin-bottom: 60px;
}
